*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
div{
	margin: 0;
	padding: 0;
}
#googleMap {
	height: 100%;
}
#container {
	position: absolute;
	z-index: 0;
	left: 103px;
	top: 15px;
	font-family: Roboto;
	padding: 0;
	margin: 0;
	width: 290px;
}
#searchBar {
	border-color: #4d90fe;
	height: 30px;
	width: 180px;
	padding: 5px;
	font-size: 15px;
}
#yelpBusinesses{
	max-height: calc(100vh - 50px);
	overflow: scroll;
	display: block;
	
}
button {
	height: 29px;
	border:1px solid #61c4ea;
	background-color:#7cceee;
	border-radius:3px;
	text-shadow:#b2e2f5 0 1px 0;
	margin: 0;
	padding: 0 2.5px;
	max-width: 60px;
	font-size: 15px;
}
ul{
	background-color: rgba(128, 128, 128, 0.9);
	margin: 10px 0 0;
	padding: 5px 0 0;
}
li{
	margin: 0;
	padding: 5px;
	list-style: none;
}
a{
	color: rgb(58, 58, 58);
}
img{
	width: 100%;
}
/* Gradient color1 - color2 - color1 */

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #99FFFF, #ccc);
}
#placeTmpl{
	overflow: scroll;
}
#placeTmpl div{
	width: 100%;
	display: inline;
}
#headerbar, #yelpReview, #nytArticle {
	max-width: 500px;
}

#header {
	width: 370px;
	display: inline-block;
	overflow: scroll;
}
#nytContent {
	width: 440px;
}
#yelpReview {
	height: 80px;
	width: 100%;
	padding: 5px 0;
	text-align: justify;
	overflow: scroll;
}
#nytContent{
	padding: 5px 10px 5px 0;
	text-align: justify;
	max-height: 100%;
	display: inline-block;
	overflow: scroll;
}

#nytArticle {
	max-height: 150px;
}
#mainlogo{
	min-height: 80px;
	min-width: 80px;
}
#nytlogo, #mainlogo {
	padding: 5px;
	width: 50px;
	max-width: 20%;
	height: 50px;
	float: right;
	display: inline-block;
}
#rateImg {
	max-height: 20px;
	max-width: 60px;
}
#selReview {
	float: left;
	margin: 0 5px 0 0;
	height: 60px;
	width: 60px;
	border-style: outset;
	border-color: orange;
	border-width: 5px;
	border-radius: 5px;
}
#hamBtn {
	position: absolute;
	z-index: 0;
	left: 78px;
	top: 19px;
	font-size: 21px;
	color: rgb(80, 80, 80);
}
h3, .contText {
	font-size: 1.2em;
}