/* media queries */

@media screen and (min-width: 550px) and (max-width: 800px) {
	h3, .contText {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 550px) {
	#container {
		left: 65px;
	}
	#hamBtn {
		top: 15px;
		left: 40px;
		font-size: 25px;
	}
	#yelpBusinesses{
		max-height: 400px;
	}

	h3, .contText {
		font-size: 1.1em;
	}
	#nytContent {
		max-width: 79%;
		max-height: 100%;
	}
	#header {
		max-width: 69%;
		height: 70px;
	}
	#mainlogo{
		max-width: 60px;
		min-width: 60px;
	}
	#nytlogo {
		max-width: 20%;
	}
	#yelpReview {
		padding:0;
	}
	.headerbar {
		height: 60px;
	}
	#nytArticle {
		max-height: 150px;
	}
	h3 {
		max-height: 80%;
		margin: 0;
	}
}